Cellar
trurlib
tndb
aclocal.m4
Makefile.in
Makefile
configure
config.log
config.cache
config.status
stamp-h.in
config.h
config.h.in
stamp-h
stamp-h1
missing
mkinstalldirs
install-sh
stamp-h
stamp-h.in
.deps
rpmvercmp
ccmalloc-log
depcomp
test_match
*.html
homepage.sgml
intl
m4
ABOUT-NLS
config.rpath
autom4te.cache
*.lo
.libs
*.la
*.o
*~
*.spec
libtool
ltmain.sh
config.guess
config.sub
py-compile
conf_sections.c
NEWS
core
cli/poldek
cli/poclidek_demo
cli/test_cli
vfile/test_vopen
vfile/vfget
vfile/test_vopen3