# $Id$
# Sample poldek configuration

source = ftp://ftp.pld.org.pl/PLD-1.0/i386/PLD/RPMS/
#source = ftp://ftp.znienacka.com.pl/RPMS/
#source = http://www.znienacka.com.pl/RPMS/
#source = rsync://rsync.znienacka.com.pl/PLD/packages.dir
#source = rsync://ftp.pld.org.pl/PLD-1.0/i686/PLD/


# If package index and packages stored under diffrent locations, 
# then source and packages prefix must be numbered 
#source1 = /tmp/packages.dir
#prefix1 = /cdrom/RPMS
 

# NOTE: directory *must* exists 
#cachedir = /var/tmp/poldek-cache/


# Downloaders configuration 
# Available semi-macros (as ws-separate tokens only):
#   %p[n] - package basename
#   %d - cache dir
#   %D - cache dir/package basename
#   %P[n] - package full path(URL)

#ftp_get       = "/usr/bin/snarf %P %D"
#http_get      = "/usr/bin/wget -N --dot-style=binary -P %d %Pn"
#https_get     = "/usr/bin/curl %P -o %D"
#rsync_get     = "/usr/bin/rsync -v %P %d"
#cdrom_get     = "/usr/bin/vfjuggle %d %Pn"

# permits using root privs for installation only 
use_sudo  = yes

# automatically install packages required by installed ones (default "yes") 
#follow = no

# greedy upgrades (defalut "no")
greedy = yes

# mercy dependency checking (defalut "no")
mercy = yes

# prevent kernel* and dev from being upgraded if they are already installed.
#hold   = kernel* dev

# don't remove downloaded packages after successful installation (defalut "no")
#keep_downloads = yes

# Some rpm macros
#rpmdef        = "_install_langs pl:pl_PL:lt:lt_LT"

# don't install any documentation
#rpmdef        = "_netsharedpath /usr/share/info:/usr/share/man"
#rpmdef	      = "_excludedocs 1"


