vfile external compress = n

#source = ac-ready,type=pidx,pri=-20 ftp://ftp.pld-linux.org/dists/ac/ready/i686/
#source = ac,type=pdir ftp://ftp.pld-linux.org/dists/ac/PLD/i686/PLD/RPMS/
source = th ftp://ftp.th.pld-linux.org/dists/th/PLD/noarch/RPMS/

keep_downloads = no
default_fetcher = ftp, http: internal

use_sudo      = yes
hold=   xmms* dev* kernel* mount
ignore   = *-smp-*
mercy	      = yes
particle install = yes

#exclude path = usr/share/doc usr/share/doc

[source]
name          = tt2
type          = pndir
original type = dir
path          = ${HOME}/rpm/RPMS
